@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

/* Pseudo-classe */
:root {
    --cor0: rgb(255, 255, 255);
    --cor1: rgb(255, 238, 238);
    --cor2: rgb(255, 214, 214);
    --cor3: rgb(255, 180, 180);
    --cor4: rgb(255, 139, 139);
    
    --fonte-padrao: Arial, Times, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* Configuração Global */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    background-color: antiquewhite;
    font-family: var(--fonte-padrao);
}
/* header star */
header {
    /* background-image: linear-gradient(to bottom, var(--cor1), var(--cor3)); */
    min-height: 150px;
    text-align: center;
}
header > img {
    width: 32px;
    height: px;
    border-radius: 50%;
    border: 5px solid var(--cor0);
}
header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 3px 2px 1px #00000038;
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 3px 2px 1px #00000038;
}
/* header end  */
/* nav start*/
nav {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    /* background-color: var(--cor3); */
    box-shadow: 0px 5px 2px #0000006e;
    padding-bottom: 5px;
    text-align: center;
}
nav > a {
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: rgb(255, 255, 255);
    color: var(--cor3);
}
/* nav end */
/* main start */
img.imagem-01 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 2px #0000006e;
}
main {
    min-width: 400px;
    max-width: 1250px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 2px 10px #00000063;
}
main h1 {
    font-family: var(--fonte-destaque);

}
main h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.3em;
    background-image: linear-gradient(50deg, var(--cor0), rgb(255, 114, 114));
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 30px;
}
main p {
    text-indent: 5%;
    line-height: 1.5em;
    text-align: justify;
    margin: 10px 0px;
    
}
strong {
    color: var(--cor4);
}
/* div.missao > strong {
    color: var(--cor4);
} */
main a {
    background-color: var(--cor2);
    color: white;
    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
}
main a:hover {
    text-decoration: underline;
}
main img {
    width: auto;
}
article h2 {
    padding-top: 10px;
}
main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}
article .missao {
    background-color: aliceblue;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
article .visao {
    background-color: aliceblue;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
article .swot {
    background-color: aliceblue;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
.missao picture {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: px;
}
.visao picture {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: px;
}
.valor picture {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: px;
}
.swot picture {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 100%;
}
article .valor {
    background-color: antiquewhite;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
div.missao {
    background-color: var(--cor2);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 43%;
}
div.visao {
    background-color: var(--cor0);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 43%;
}
div.valor {
    background-color: var(--cor2);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 43%;
}
div.swot {
    background-color: var(--cor2);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 43%;
}
div.video {
    position: relative;
    background-color: var(--cor2);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    padding-bottom: 50%;
}
article .swot {
    background-color: antiquewhite;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
div.swot {
    background-color: var(--cor0);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 43%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
ul {
    list-style-type: none;
    columns: 4;
    list-style: none;
    width: auto;
}
/* ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    
} */
div.lista {
    background-color: var(--cor3);
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
}
ul.caixa {
    background-color: aliceblue;
    box-shadow: inset 0px 0px 3px #00000078;
    padding: 10px;
}
/* main end */
/* footer start */
footer {
    background-color: var(--cor4);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    background-color: var(--cor0);
    color: #314933;
    padding: 2px;
    border-radius: 5px;
    text-decoration: underline;
}
/* footer end */
/* card start */
.container h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    font-size: 4em;
    text-align: center;
}
.produto p {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: 1.3em;
    background-image: linear-gradient(50deg, var(--cor0), var(--cor2));
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 30px;
}
/* .produto h3 {
    background-color: rgb(255, 60, 60);
    border-radius: 5px;
    box-shadow: 0px 5px 2px #00000031;
    margin: 10px;
    padding: 10px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
} */
.compra h3 {
    background-color: rgb(255, 93, 87);
    border-radius: 5px;
    box-shadow: 0px 5px 2px #00000031;
    margin: 10px;
    padding: 13px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    flex-wrap: wrap;
    text-align: center;
    color: aliceblue;
}
.compra a {
    background-color: rgb(185, 255, 168);
    border-radius: 5px;
    box-shadow: 0px 5px 2px #00000031;
    margin: 10px;
    padding: 5px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    flex-wrap: wrap;
    text-align: center;
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}
.produto {
    border: 1px solid var(--cor0);
    border-radius: 10px;
    cursor: pointer;
}
.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produto:hover {
    box-shadow: 0px 5px 2px #0000001f;
    transform: translate(0px, -5px);
}
/* card end */
/* fotos start */
.container h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    font-size: 4em;
    text-align: center;
}
.avaliacao {
    justify-content: space-around;
}
.comentario {
    justify-content: space-around;
}
.avaliacao h3 {
    margin-top: 10px;
}
.avaliacao p {
    color: var(--cor);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(50deg, var(--cor0), var(--cor2));
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 10px;
    width: 32%;
}
.avaliacao {
    border: 1px solid var(--cor0);
    border-radius: 10px;
    cursor: pointer;
}
.avaliacoes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.avaliacao:hover {
    box-shadow: 0px 5px 2px #0000001f;
    transform: translate(0px, -5px);
}